.Validator-list {
    list-style: none;
    box-sizing: border-box;
    display: block;
}

.Validator-list--small {
    font-size: 0.8rem;
    color: var(--clr-red);
}

.Validator-item {
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.Validator-item--green {
    color: var(--clr-green);
}

.Validator-item--red {
    color: var(--clr-red);
}

.Tooltip__icon {
    margin-right: 0.5rem;
    font-weight: 600;
}
.Validator__message {
    white-space: nowrap;
}
