.Form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    padding: 3rem 0;
    margin: 0 auto;
}

.Form {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.Form__title {
    font-size: 1.7rem;
    font-weight: var(--fw-bold);
}

.Form__message {
    font-size: 1rem;
    padding: 0.2rem 0;
    max-width: 26rem;
    font-weight: 500;
}

.Form__message-success {
    color: var(--clr-green);
}

.Form__message-error {
    color: var(--clr-red-error);
}

.Form__message-hidden {
    display: none;
}

.Form__description {
    max-width: 26rem;
    font-weight: var(--fw-small);
    text-align: justify;
}

.Form__item {
    display: flex;
    flex-direction: column;
}

.Form__btn {
    font-family: var(--ff-general);
    font-weight: var(--fw-bold);
    font-size: 1.1rem;
    padding: 1rem 2rem;
    margin: 1.4rem 0;
    color: #ffffff;
    background: var(--clr-blue-main);
    border: 2px solid var(--clr-blue-dark);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.Form__btn:active {
    background: var(--clr-blue-dark);
}

.Form__btn:disabled {
    background: var(--clr-grey-border);
    border: 2px solid var(--clr-grey-border);
    cursor: not-allowed;
}
