.Menu__item {
    transition: 0.3s;
}
.Menu__item:hover {
    background-color: var(--clr-blue-main);
    color: var(--white-font-color);
}

.Menu__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 1rem;
    display: block;
    color: var(--black-font-color);
    font-family: var(--ff-general);
    font-weight: var(--fw-bold);
}

.Menu__item:hover .menu__link {
    color: var(--white-font-color);
}

@media (max-width: 969px) {

    .Menu__item {
        box-shadow: 0 0 1px 0 rgba(10, 22, 70, 0.06), 0 3px 3px -1px rgba(10, 22, 70, 0.06);
    }

    .Menu__item:first-child {
        box-shadow: 0 0 1px 0 rgba(10, 22, 70, 0.06), 0 3px 3px -1px rgba(10, 22, 70, 0.06),
            inset 0 3px 3px -1px rgba(10, 22, 70, 0.06);
    }

    .Menu__link {
        background-color: var();
    }

    .Menu__link:hover {
        background-color: var();
        color: var();
    }
}
