.table-container {
    max-width: 60rem;
    margin: 0 auto;
}

.table {
    border-radius: 0.5rem;
    background-color: azure;
    /* box-shadow: 0 0 10px 0 rgba(10, 22, 70, 0.06), 0 3px 3px -1px rgba(10, 22, 70, 0.06); */
    box-shadow: 0 0 30px 10px rgba(10, 22, 70, 0.08);
    overflow: hidden;
}

.table__message {
    text-align: center;
    font-size: 1.2rem;
    font-weight: var(--fw-bold-slim);
}

.attribute-container {
    display: grid;
    /* grid-template-columns: 2rem 1fr 1fr 1fr 1fr; */
    grid-template-columns: 2rem minmax(max-content, 2fr) minmax(max-content, 4fr) 3rem minmax(max-content, 2fr);
}

.attribute-container--center {
    align-items: center;

}

.table__heading {
    color: var(--clr-white-custom-bg);
    background: var(--clr-blue-bright);
    box-sizing: border-box;
}

.attribute {
    padding: 0.5rem
}


