.Menu__toggle {
    display: none;
    padding: 2rem 1rem;
    cursor: pointer;
}

.Menu__toggle-icon {
    font-size: 1.5rem;
    color: var(--black-font-color);
    overflow: hidden;
}

@media (max-width: 969px) {
    .Menu__list.Menu--toggle {
        left: 0;
    }

    .Menu__toggle {
        display: block;
        position: absolute;
        align-self: flex-end;
        z-index: 200;
    }
}
