:root {
  --black-font-color: #06171e;
  /* --white-font-color: #edecec; */
  --white-font-color: #f9f9f9;

  --clr-white-custom-bg: #ffffff;
  --clr-blue-light-bg: #f3f6f5;

  --clr-grey-border: #333333;

  /* colors below are ok */

  --clr-blue-main: #0088ff;
  --clr-blue-dark: #006dcc;
  --clr-blue-bright: #62b6ff;

  /* --clr-red: #e50007; */
  --clr-red: #d50000;

  --clr-red-main: #ff3339;
  --clr-red-dark: #b22327;

  --clr-green: #24b768;

  --clr-green-main: #2de583;
  --clr-green-dark: #23b266;

  --ff-general: "Poppins", sans-serif;
  --fw-small: 300;
  --fw-normal: 400;
  --fw-bold-slim: 500;
  --fw-bold: 600;
  --fw-bold-plus: 700;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  font-family: var(--ff-general);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black-font-color);
  font-weight: var(--fw-normal);
  background-color: var(--clr-blue-light-bg);
  box-sizing: border-box;
}

h1,
h2,
h3,
figure {
  margin: 0;
}

div,
input {
  box-sizing: border-box;
}

.section {
  max-width: 1280px;
  margin: 5rem auto;
}

.section__container {
  margin: 0 1.25rem;
  padding: 1.25rem 0;
}
